Services/UnService/Contract/ApiRest_WSDLconcret.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.fastconnect.fr/BWDev/services/lab3" xmlns:ns0="http://www.tibco.com/schemas/lab3/Schema/Schema2.xsd" xmlns:ns1="http://www.tibco.com/schemas/lab3/Schema/Schema1.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://www.fastconnect.fr/BWDev/services/lab3">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/lab3/Schema/Schema1.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/lab3/Schema/Schema1.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="current">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="temperature">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute name="max" type="xs:float"/>
                                        <xs:attribute name="min" type="xs:float"/>
                                        <xs:attribute name="unit" type="xs:string"/>
                                        <xs:attribute name="value" type="xs:float"/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/lab3/Schema/Schema2.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/lab3/Schema/Schema2.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="q" type="xs:string"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="intfApiRest-service">
        <wsdl:port name="intfwsApiRestEndpoint2" binding="tns:intfwsApiRestEndpoint2Binding">
            <soap:address location="http://localhost:7575/Services/UnService/Interface/intfApiRest-service.serviceagent/intfwsApiRestEndpoint2"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="portType">
        <wsdl:operation name="ApiRestOp">
            <wsdl:input message="tns:q"/>
            <wsdl:output message="tns:current"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="intfwsApiRestEndpoint2Binding" type="tns:portType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ApiRestOp">
            <soap:operation style="document" soapAction="/Services/UnService/Interface/intfApiRest-service.serviceagent/intfwsApiRestEndpoint2/ApiRestOp"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="q">
        <wsdl:part name="parameters" element="ns0:q"/>
    </wsdl:message>
    <wsdl:message name="current">
        <wsdl:part name="parameters" element="ns1:current"/>
    </wsdl:message>
</wsdl:definitions>