Services/UnService/Contract/ApiRestWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.fastconnect.fr/BWDev/services/lab3" xmlns:ns0="http://www.tibco.com/schemas/lab3/Schema/Schema1.xsd3" xmlns:ns1="http://www.tibco.com/schemas/lab3/Schema/Schema1.xsd5" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://www.fastconnect.fr/BWDev/services/lab3">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/lab3/Schema/Schema1.xsd3" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/lab3/Schema/Schema1.xsd3" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="q" type="xs:string"/>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/lab3/Schema/Schema1.xsd5" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/lab3/Schema/Schema1.xsd5" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:complexType name="JSONType">
                <xs:all>
                    <xs:element name="coord" type="ns1:coordType" minOccurs="0"/>
                    <xs:element name="main" type="ns1:mainType" minOccurs="0"/>
                    <xs:element name="sys" type="ns1:sysType" minOccurs="0"/>
                    <xs:element name="visibility" type="xs:short" minOccurs="0"/>
                    <xs:element name="weather" type="ns1:weatherType" minOccurs="0"/>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="cloudsType">
                <xs:all>
                    <xs:element name="all" type="xs:byte" minOccurs="0"/>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="coordType">
                <xs:all>
                    <xs:element name="lat" type="xs:float" minOccurs="0"/>
                    <xs:element name="lon" type="xs:float" minOccurs="0"/>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="mainType">
                <xs:all>
                    <xs:element name="feels_like" type="xs:float" minOccurs="0"/>
                    <xs:element name="humidity" type="xs:byte" minOccurs="0"/>
                    <xs:element name="pressure" type="xs:short" minOccurs="0"/>
                    <xs:element name="temp" type="xs:float" minOccurs="0"/>
                    <xs:element name="temp_max" type="xs:float" minOccurs="0"/>
                    <xs:element name="temp_min" type="xs:float" minOccurs="0"/>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="sysType">
                <xs:all>
                    <xs:element name="country" type="xs:string" minOccurs="0"/>
                    <xs:element name="id" type="xs:short" minOccurs="0"/>
                    <xs:element name="sunrise" type="xs:int" minOccurs="0"/>
                    <xs:element name="sunset" type="xs:int" minOccurs="0"/>
                    <xs:element name="type" type="xs:byte" minOccurs="0"/>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="weatherType">
                <xs:all>
                    <xs:element name="description" type="xs:string" minOccurs="0"/>
                    <xs:element name="icon" type="xs:float" minOccurs="0"/>
                    <xs:element name="id" type="xs:short" minOccurs="0"/>
                    <xs:element name="main" type="xs:string" minOccurs="0"/>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="windType">
                <xs:all>
                    <xs:element name="deg" type="xs:short" minOccurs="0"/>
                    <xs:element name="gust" type="xs:float" minOccurs="0"/>
                    <xs:element name="speed" type="xs:float" minOccurs="0"/>
                </xs:all>
            </xs:complexType>
            <xs:element name="JSON" type="ns1:JSONType"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="intfApiRest-service">
        <wsdl:port name="intfwsApiRestEndpoint1" binding="tns:intfwsApiRestEndpoint1Binding">
            <soap:address location="http://localhost:7575/Services/UnService/Interface/intfApiRest-service.serviceagent/intfwsApiRestEndpoint1"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="portType">
        <wsdl:operation name="ApiRestOp">
            <wsdl:input message="tns:q"/>
            <wsdl:output message="tns:JSON"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="intfwsApiRestEndpoint1Binding" type="tns:portType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ApiRestOp">
            <soap:operation style="document" soapAction="/Services/UnService/Interface/intfApiRest-service.serviceagent/intfwsApiRestEndpoint1/ApiRestOp"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="q">
        <wsdl:part name="parameters" element="ns0:q"/>
    </wsdl:message>
    <wsdl:message name="JSON">
        <wsdl:part name="parameters" element="ns1:JSON"/>
    </wsdl:message>
</wsdl:definitions>